/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #0F0F0F;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

.landing-container {
  width: 95%;
  height: 86.5vh;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.65);
  color: #FDFDFD;
  text-align: center;
  vertical-align: middle;
  line-height: 85vh;
  font-size: 2.5vw;
  text-shadow: 0 0 8px #FFFFFF;
  background-image: url("https://cdn.glitch.me/803029d0-5c05-4a54-95c3-b9f630493469%2Fbroadway.jpeg?v=1638939864802");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.landing-container:hover {
  text-shadow: 0 0 15px yellow;
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.musical {
  max-width: 500px;
  margin: auto;
  margin-top: 8vh;
  color: #FDFDFD;
  padding: 2vh 6vh 4vh 6vh;
  border: 2px solid #E1C771;
  border-radius: 1vh;
}

.musical-header {
  max-width: 450px;
  margin: auto;
  margin-top: 8vh;
  margin-bottom: -9.9vh;
}

.musical-header a {
  font-size: xx-large;
  font-weight: bold;
  text-decoration: none;
  color: #E1C771;
}

.musical-header a:hover {
  text-shadow: 0 0 20px yellow;
}

.back-button {
  text-align: center;
  margin-top: 6vh;
  margin-bottom: 6vh;
}

.back-button a {
  font-weight: bold;
  color: #FDFDFD;
}

.back-button:hover {
  text-shadow: 0 0 5px yellow;
}
